<section class="profile-box">
    <ul class="profile-account-navs">
        <li class="profile-account-nav-item navigation-link-dashboard">
            <a asp-area="Accounts" asp-controller="UserPanel" asp-action="EditUserPanel" class="active">
                <i class="mdi mdi-account-outline"></i>
                ویرایش حساب کاربری
            </a>
        </li>
        <li class="profile-account-nav-item ">
            <a asp-area="Accounts" asp-controller="UserPanel" asp-action="ChanegUserPanelPassword"  class="">
                <i class="mdi mdi-key"></i>
                هتغییر کلمه عبور
            </a>
        </li>
        <li class="profile-account-nav-item navigation-link-dashboard">
            <a href="#" class="">
                <i class="mdi mdi-heart"></i>
                لیست علاقه مندی
            </a>
        </li>
        <li class="profile-account-nav-item navigation-link-dashboard">
            <a href="#" class="">
                <i class="mdi mdi-map-outline"></i>
                آدرس ها
            </a>
        </li>
        <li class="profile-account-nav-item navigation-link-dashboard">
            <a href="#" class="">
                <i class="mdi mdi-email-open-outline"></i>
                نظرات
            </a>
        </li>
        <li class="profile-account-nav-item navigation-link-dashboard">
            <a href="#" class="">
                <i class="mdi mdi-tooltip-text-outline"></i>
                اطلاعات حساب
            </a>
        </li>
    </ul>
</section>