<div class="P-loader">
    <div class="P-loader-content">
        <div class="logo-loader">
            <img src="~/assets/images/logo.png" alt="logo">
        </div>
        <div class="pic-loader text-center">
            <img src="~/assets/images/three-dots.svg" width="50" alt="">
        </div>
    </div>
</div>