@model OzhanCoreLayer.ViewModels.AccountVM.ForgetPassword.ForgotPasswordViewModel
<div style="margin: 1%; padding: 1%">
    <p style="color: darkgreen">@Model.UserName عزیز !</p>
    <p>برای بازیابی حساب خود میبایست بر روی لینک زیر کلیک نمایید !</p>
   <a href="https://localhost:44305/athu/ResetPassword/@Model.ActiveCode">بازیابی حساب کاربری</a>
</div>