@using OzhanCoreLayer.ViewModels.BaseProducts
@model ShowProductInIndexViewModel
<div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
    <div class="owl-stage-outer">
        <div class="owl-stage"
             style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
            <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                <div class="item">
                    <a href="#" class="d-block hover-img-link" data-toggle="modal"
                       data-target="#exampleModal">
                        <img  src="~/AdminPanel/Product/ProductImg/@Model.ImageName"
                             class="img-fluid" alt="">
                        <span class="icon-view">
                            <strong><i class="fa fa-eye"></i></strong>
                        </span>
                    </a>
                    <h2 class="post-title">
                        <a href="#">
                            @Model.Title
                        </a>
                    </h2>
                    <div class="price">
                        <del><span>@Model.PriceBeforeOff<span>تومان</span></span></del>
                        <ins><span>@Model.TotalPrice<span>تومان</span></span></ins>
                    </div>
                    <div class="actions">
                        <ul>
                            <li class="action-item like">
                                <button class="btn btn-light add-product-wishes" type="submit"
                                        data-toggle="tooltip" data-placement="top"
                                        title="Tooltip on top">
                                    <i class="fa fa-heart-o"></i>
                                </button>
                            </li>
                            <li class="action-item compare">
                                <button class="btn btn-light btn-compare" type="submit">
                                    <i class="fa fa-random"></i>
                                </button>
                            </li>
                            <li class="action-item add-to-cart">
                                <button class="btn btn-light btn-add-to-cart" type="submit">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>