
@{
    ViewData["Title"] = "داشبورد";
    Layout = "~/Areas/Admin/Views/Shared/_AdminPabnelLayout.cshtml";
}
<h2>@ViewData["Title"]</h2>

<ol class="breadcrumb">
    <li><a asp-area="Admin" asp-controller="AdminHome" asp-action="Index"><i class="fa fa-dashboard"></i> خانه</a></li>
    <li class="active">داشبورد</li>
</ol>