
@{
    ViewData["Title"] = "فعالسازی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="container alert-success">
        <p>حساب کاربری شما با موفقیت فعال گردید اکنون میتوانید از امکانات سایت استفاده کنید</p>
        <a asp-area="Accounts" asp-controller="Account" asp-action="Login">ورود به سایت</a>
    </div>
</div>
