@model OzhanCoreLayer.ViewModels.AccountVM.ForgetPassword.ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <partial name="_CaptchaScripts"/>
}

<h1>ForgotPassword</h1>

<div class="container">
    <div class="row">
        <div class="col-lg">
            <section class="page-account-box">
                <div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
                    <div class="ds-userlogin">
                        <a href="#" class="account-box-logo">digismart</a>
                        <div class="account-box">
                            <div class="Login-to-account mt-4">
                                <div class="account-box-content">
                                    <h4 class="mb-2">فراموشی گذرواژه</h4>
                                    <p>گذرواژه خود را فراموش کرده اید؟  ایمیل خود را وارد کنید.</p>
                                    @if (ViewBag.IsSuccses != null)
                                    {
                                        <div class="alert alert-success">
                                            <p class="text text-info">لینک بازیابی اکانت به ایمیل شما ارسال شد</p>
                                        </div>
                                    }
                                    <form asp-action="ForgotPassword" method="post" class="form-account text-right" asp-antiforgery="true">
                                        <input asp-for="Capcha" type="hidden"/>
                                        <div class="form-account-title">
                                            <label asp-for="Email">ایمیل</label>
                                            <input type="email" asp-for="Email" class="number-email-input" >
                                        </div>
                                        <span asp-validation-for="Email" class="text text-danger"></span>
                                        <div class="form-row-account">
                                            <button type="submit" class="btn btn-primary btn-login">بازگردانی رمز عبور</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>