@model OzhanCoreLayer.ViewModels.AccountVM.ResetPassword.ResetPasswordVm
@{
    ViewData["Title"] = "تغییر کلمه عبور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ResetPassword</h1>

<div class="container">
    <div class="row">
        <div class="col-lg">
            <section class="page-account-box">
                <div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
                    <div class="ds-userlogin">
                        <a href="#" class="account-box-logo">digismart</a>
                        <div class="account-box">
                            <div class="Login-to-account mt-4">
                                <div class="account-box-content">
                                    <h4 class="mb-2">تغییر رمز عبور</h4>
                                    <form asp-area="Accounts" asp-action="ResetPassword" class="form-account text-right" asp-antiforgery="true">
                                        <input asp-for="ActiveCode" type="hidden"></input>
                                        <input asp-for="Capcha" type="hidden"></input>
                                        <div class="form-account-title">
                                            <label asp-for="Password">رمز عبور جدید</label>
                                            <input type="password" class="password-input" asp-for="Password">
                                        </div>
                                        <span asp-validation-for="Password" class="text text-danger"></span>
                                        <div class="form-account-title">
                                            <label asp-for="RePassword">تکرار رمز عبور جدید</label>
                                            <input type="password" class="password-input" asp-for="RePassword">
                                        </div>
                                        <span asp-validation-for="RePassword" class="text text-danger"></span>
                                        <div class="form-row-account">
                                            <button class="btn btn-primary btn-login">تغییر رمز عبور</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>