
@{
    ViewData["Title"] = "ثبت نام با موفقیت انجام شد";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="container alert-success">
        <p class="text text-success">ثبت نام شما با موفقیت انجام شد لطفا جهت فعالسازی حساب کاربری خود <br/>
            به آدرس ایمیل خود مراجغه نمایید</p>
    </div>
</div>

